h1, h2 {
    text-align: center;
    font-family: sans-serif;
}

h2::before {
    content: "❤";
    margin-right: 1em;
}

#contenedor {
    border: 1px solid black;
    margin: 0 auto ;
    width:  70%;
    padding: 0 2em;
}

.ficha-perro {
    background-color: lightblue;
}